{% extends 'users/app.twig' %}

{% block title %} New Article {% endblock %}
{% block css %}
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.3/summernote.css" rel="stylesheet">
{% endblock %}
{% block content %}

    {% include 'templates/flash/flash.twig' %}
    <form method="post">
        <div class="form-group has-feedback {{ errors.title ? 'has-error': '' }}">
            <label for="title">Title:</label>
            <input type="text" class="form-control" name="title" value="{{article.title}}">
            {% if errors.title %}
                <span class="help-block">{{ errors.title | first }}</span>
            {% endif %}
        </div>
        <div class="form-group has-feedback {{ errors.category ? 'has-error': '' }}">
            <label for="tag">Tag:</label>
            <select class="form-control" id="category" name="category[]" multiple="multiple">
                {% if category %}
                    {% for article in article %}
                        <option value="{{category.name}}">{{category.name}}</option>
                    {% endfor %}
                {% endif %}
            </select>
            {% if errors.category %}
                <span class="help-block">{{ errors.category | first }}</span>
            {% endif %}
        </div>
        <div class="form-group has-feedback {{ errors.content ? 'has-error': '' }}">
            <textarea name="content" id="summernote">{{article.content|raw}}</textarea>
            {% if errors.content %}
                <span class="help-block">{{ errors.content | first }}</span>
            {% endif %}
        </div>
        <button name="publish" value="1">Save and Publish</button>
        <button name="publish" value="1">Save as Draft</button>
    </form>

{% endblock %}

{% block script %}
{% include 'articles/partials/script.twig' %}
{% endblock %}