{% extends 'users/app.twig' %}

{% block title %} E-Learning - Articles {% endblock %}

{% block css %}
    <style>
        .item{
          font-size: .85em;
          color: #9f9f9f;
        }
    </style>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-9">
        {% if !article %}
            <div class="jumbotron">
                <h3>Sorry, We haven't Article yet</h3>
            </div>
        {% else %}
            {% for article in article.content %}
                <div class="col-lg-12">
                    <div class="well">
                        <h3><a href="{{path_for('web.article.slug', {slug: article.slug})}}">{{article.title}}</a></h3>
                        <p>
                            {{article.content|raw|slice(0, 300)}}
                        </p>
                        <br>
                        {% for category in article.category %}
                            <label for="{{category}}" class="label label-primary">{{category}}</label>
                        {% endfor %}
                        <hr>
                        <ul class="list-inline">
                            <li><i class="fa fa-user"><b>{{article.username}}</b></i></li>
                            <li><p class="item">{{article.publish_at|date('D, F d Y')}}</p></li>
                        </ul>
                    </div>
                </div>  
            {% endfor %}
            
        {% endif %}
    <div class="col-lg-3">
        <div class="row">
            <div class="col-lg-12">
                <div class="well">
                <form method="get" action="{{path_for('web.article.search')}}">
                    <div class="form-group">
                        <input type="text" name="search" class="form-control" id="navbar-search-input" placeholder="Search">
                    </div>
                </form>
                </div>
            </div>
            <div class="col-lg-12">
                <ul class="list-group">
                    <li class="list-group-item"><b>By subject</b></li>
                    {% for category in article.category %}
                        <li class="list-group-item"><a href="">{{category.name}}</a></li> 
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}