{% extends 'users/app.twig' %}

{% block title %} E-Learning-Profile {% endblock %}

{% block content %}
<div class="row">
{% include 'users/partials/sidebar_account.twig' %}
	<div class="col-lg-9">
        <h3>Profile</h3>
        {% include 'templates/flash/flash.twig' %}
        <div class="box box-primary"> 
            <form id="form" method="post" action="">
            	<div class="box-body row">
            		<div class="col-xs-9">
                    	<div class="form-group has-feedback {{ errors.old_password ? 'has-error': '' }}">
                    		<label for="name">Old Password:</label>
                        	<input type="password" class="form-control" id="old_password" name="old_password">
                            {% if errors.old_password %}
                                <span class="help-block">{{ errors.old_password | first }}</span>
                            {% endif %}
                    	</div>
                    	<div class="form-group has-feedback {{ errors.new_password ? 'has-error': '' }}">
                    		<label for="name">New Password:</label>
                        	<input type="password" class="form-control" id="new_password" name="new_password">
                            {% if errors.new_password %}
                                <span class="help-block">{{ errors.new_password | first }}</span>
                            {% endif %}
                    	</div>
						<div class="form-group has-feedback {{ errors.retype_password ? 'has-error': '' }}">
                    		<label for="name">Retype Password:</label>
                        	<input type="password" class="form-control" id="retype_password" name="retype_password">
                            {% if errors.retype_password %}
                                <span class="help-block">{{ errors.retype_password | first }}</span>
                            {% endif %}
                    	</div>
                    <button type="submit" class="btn btn-default">Change Password</button>
                    </div>
            	</div>
            </form>
        </div>
    </div>
</div>
{% endblock %}